body{
    color:white;
    background-color: #121212 ;
}

h1{
    color:white;
    font-family: 'WandohopeB';
}

.ant-card-meta-description{
    color:white
}
.ant-card-meta-title{
    color:white
}
.ant-tabs-tab-btn{
    color:white
}

@font-face {
    font-family: 'WandohopeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}